body{
    padding-top: 70px;
}

/*#headerWrapper{*/
    /*possition:relative;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*height: 600px;*/
    /*background-image: url("");*/
/*}*/

.img-thumbnail{
    height: 200px;
}

#footer{
    margin-top: 50px;
}

.fotorama__wrap{
    width: 90%;
    margin: 15px auto;
}
.table-auto{
    width: auto;
    margin: 0 auto;
}
.carousel-holder{
    margin-top: -16px;
}
#add-product-btn{
    margin-top: -35px;
}
.saved-image{
    text-align: center;
}
.saved-image img{
    width: auto;
    height: 150px;
}
#login-form{
    width: 50%;
    height: 60%;
    border: 2px solid darkblue;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
    margin: 7% auto;
    padding: 15px;
    background-color: #fff;
}
.totals-table-header th{
    text-align: center;
}

#cart_widget td, #recent_widget{
    font-size: 12px;
}
input.price-range{
    width: 55px;
}